%h1 Listing writers

= form_tag("writers", method: "get") do
  = label_tag(:code, "Código:")
  = text_field_tag(:code)
  %br
  = label_tag(:name, "Name:")
  = text_field_tag(:name)
  %br
  = label_tag(:book, "Book:")
  = text_field_tag(:book)
  %br
  = label_tag(:address, "Address:")
  = text_field_tag(:address)
  %br
  = submit_tag("Search")

%table
  %tr
    %th Code
    %th Name
    %th Book
    %th Address
    %th File line
    %th
    %th
    %th

  - @writers.each do |writer|
    %tr
      %td= writer.code
      %td= writer.name
      %td= writer.book
      %td= writer.address
      %td= writer.line
      %td= link_to 'Show', writer
      %td= link_to 'Edit', edit_writer_path(writer)
      %td= link_to 'Destroy', writer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= will_paginate @writers
= link_to 'New Writer', new_writer_path
