%p#notice= notice
%p
  %b Code:
  = @writer.code
%p
  %b Name:
  = @writer.name
%p
  %b Book:
  = @writer.book
%p
  %b Address:
  = @writer.address
%p
  %b File Line:
  = @writer.line

= link_to 'Edit', edit_writer_path(@writer)
\|
= link_to 'Back', writers_path
