
%html{:lang => 'en'}<>
  %head
    %meta{charset: "utf-8"}/
    %title LibraryMongo
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
  %body{"data-controller" => "#{controller.controller_name}", "data-action" => "#{controller.action_name}"}
    = yield
  = javascript_include_tag :application
